<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="KPSPublicV2Soap">
          <security mode="Transport"/>
        </binding>
        <binding name="KPSPublicV2Soap1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://tckimlik.nvi.gov.tr/Service/KPSPublicV2.asmx" binding="basicHttpBinding" bindingConfiguration="KPSPublicV2Soap" contract="TCKValidationServiceReference.KPSPublicV2Soap" name="KPSPublicV2Soap"/>
    </client>
  </system.serviceModel>
</configuration>
